OAGIS/9.0/BODs/Developer/AcknowledgePurchaseOrder.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--

** OAGIS® Revision: 9.0 **
** Date: 08 April 2005 **
** Copyright 1998-2005, All Rights Reserved **

This is an OAGIS® BOD XML Schema (XSD) Definition.

License information for this file is provided in the file **2005 OAGi License Agreement.txt** that is provided with this download package.

For support, more information, or to report implementation bugs, please contact the Open Applications Group at xml@openapplications.org.
    
     XML Schema 
     
    Name: \OAGIS\9.0\BODs\Developer\AcknowledgePurchaseOrder.xsd
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/9" targetNamespace="http://www.openapplications.org/oagis/9" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../../Resources/Nouns/PurchaseOrder.xsd"/>
        <xsd:element name="AcknowledgePurchaseOrder" type="AcknowledgePurchaseOrderType">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/9">The purpose of the
                AcknowledgePurchaseOrder Business Object Document is to acknowledge receipt of the Purchase
                Order and to reflect any changes. Commonly, the acknowledgment is generated by an
                order management application and transmitted to a purchasing or procurement application.</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="AcknowledgePurchaseOrderType">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="AcknowledgePurchaseOrderDataAreaType">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/9">Is the place in which the information that the BOD message carries is provided. In this case AcknowledgePurchaseOrder. The information consists of a Verb and one or more Nouns. The verb (Acknowledge) indicates the action to be performed on the Noun (PurchaseOrder).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="AcknowledgePurchaseOrderDataAreaType">
                <xsd:sequence>
                        <xsd:element ref="Acknowledge"/>
                        <xsd:element ref="PurchaseOrder" maxOccurs="unbounded"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
